* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #080808;
}

a:hover {
  text-decoration: underline;
  cursor: pointer !important;
}

hr {
  margin: 15px 0;
  background-color: #ddd;
  color: #ddd;
  height: 1px;
  border: none;
}

h3 {
  margin-bottom: 30px;
}